{% extends 'styles.html' %}
 {% block content %}
{% if messages %}
{% for msg in messages %}
    <div class="alert alert-success alert-dismissable" aria-hidden="true" align="center">
<button type="button" class="close" data-dismiss="alert">X</button>    
    {{ msg}} </div>
    {% endfor %}
    {% endif %}

<center>
<div class="container">
<div class="row">
<div class="col-md-4"></div>
<div class="col-md-4 alert alert-info">
<h1 align="center">رفض او قبول الطلب</h1>
<hr>
<table summary="" class="table table-striped table-bordered text-center" >
<tr><th>reciver</th><th>filds</th></tr>
<tr><td>{{pro.name_sir}}</td> <td>المستلم</td></tr>
<tr><td>{{pro.typ_holy}}</td><td>نوع الاجازة</td></tr>
<tr><td>{{pro.reson}}</td><td>السبب</td></tr>
<tr><td>{{pro.num_day}}</td> <td>المدة</td></tr>
<tr><td>{{pro.date_start}}</td><td>اول يوم الاجازة</td></tr>
<tr><td>{{pro.address}}</td><td>العنوان اثناء الاجازة</td></tr>
<tr><td>{{pro.full_name}}</td><td>الاسم الكامل</td></tr>
<tr><td>{{pro.order}}</td><td>المرتبة</td></tr>
<tr><td>{{pro.signing}}</td><td>التوقيع</td></tr>


</table>
</div></div>
<div class="row">
<div class="col-md-4"></div>
<div class="col-md-4 alert alert-info">
<form action="{% url 'don_prim' %}"  method="POST"   >
{% csrf_token %}
<input type="radio" class="form-control" name="ch" value="yes" required="" />‫‪<label>قبول </label‬‬>
<input type="radio" name="ch" class="form-control" value="no" required="" />‫‪<label > رفض <label‬‬>

<input type="text" name="sig" value="{{pro.id}}" class="form-control" id="sig" readonly="" />
<input type="submit" value="ارسال" class="form-control" />
</form>

</div></div>
<script>

//var o1=$("#ns").val();
//$("#gn").hide();
$(".sig").hide();
/*$("#gn").val(o1);
$("#ns").change(function () {
var o1=$("#ns").val();
//$("#oo,#oo2,#namestu,#row,#namerow").hide();
$("#gn").val(o1);*/


</script>


{% endblock content %}